* {
    margin: 0;
    padding: 0;
}


body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: rgb(42, 194, 221);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vw
}

.list-container {
    display: flex;
    gap: 30px;
    list-style: none ;
}

.abc{
    color: blue;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;   
    transition:1.5s;
    
}
.abc:hover{
    color: burlywood;
    font-size: 30px;
}

#section1{
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.hdqwalls.com/wallpapers/abstract-gradient-swirl-4k-h6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
